.app{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.add-section{
  margin-top: 30px;
  margin-bottom: 30px;
}

.subtract-seciton{
  margin-bottom: 40px;
}